backend/vendor
backend/node_modules
backend/.env

frontend/node_modules

.vscode
.idea

# Composer accidental en la raíz
/vendor/

# Angular
frontend/frontend-app/node_modules/
frontend/frontend-app/dist/
